.catalog {
    width: 100%;
}

.catalog_title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 15px;

}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*flex-grow: 1;*/
    /*flex-basis: 16%;*/
}

.catalog_wrap{
    display: flex;
    justify-content: center;
}