.product_page {
  width: 95%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  min-height: 500px;

  .left_part {
    width: 60%;
    height: 70%;
    .img_wrap {
      width: 50%;
      height: 450px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .right_part {
    width: 38%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
      font-weight: 600;
      font-size: 20px;
      padding-top: 100px;
    }
    .price{
      font-weight: 400;
      font-size: 20px;
      padding: 50px 0 20px;
    }


    .button {
      padding: 13px 20px;
      background-color: #323232;
      color: white;
      border: none;
      cursor: pointer;
      min-width: 120px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .button:hover {
      background-color: #464646;
    }

    .button_clicked {
      background-color: #646C54;;
      //cursor: default;
    }
    .button_clicked:hover {
      background-color: #889478;;
    }

    .fav {
      background-color: rgba(255, 222, 222, 0.91);
      color: #323232;
      //border: 1px solid #cacaca;
      padding: 13px 10px;
    }
    .fav:hover{
      background-color: #ffeeee;
      //border: 1px solid white;
    }
    .clicked {
      background-color: #ffe0e0;
      //border: 1px solid white;
    }
  }
}
