$general-color: #646C54;

.auth_wrapper {
  width: 70%;
  margin: 0 auto 30px;
  min-height: 500px;

  .main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .main_title {
      display: flex;
      justify-content: center;
      color: #5d5d5d;
      font-weight: 300;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
      //margin-top: 30px;

      .main_input {
        width: 40%;
        padding: 15px 15px;
        border: 1px solid $general-color;
        margin-bottom: 10px;
        outline: none;

        @media (max-width: 768px) {
          width: 60%;
        }
      }
    }

    .butt {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      background-color: red;

      .button {
        background-color: #fff;
        padding: 13px 13px;
        font-weight: 400;
        border: 1px solid $general-color;
        transition: 0.2s;
        letter-spacing: 3px;
        word-spacing: 3px;
        cursor: pointer;
        color: $general-color;
      }

      button:hover {
        background-color: $general-color;
        color: white;
        border: 1px solid transparent;
        box-shadow: 2px 5px 10px $general-color;
        transition: 0.2s;
      }
    }
  }
}