.auth_wrapper {
  width: 70%;
  margin: 0 auto 30px;
  min-height: 500px;
}

.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_input {
  width: 40%;
  padding: 15px 15px;
  border: 1px solid #646C54;
  margin-bottom: 10px;
  outline: none;

  @media (max-width: 768px) {
      width: 60%;

  }
}

.main-title {
  display: flex;
  justify-content: center;
  color: #5d5d5d;
  font-weight: 300;
}

.butt {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.butt button {
  background-color: #fff;
  padding: 13px 13px;
  font-weight: 400;
  border: 1px solid #646C54;
  transition: 0.2s;
  letter-spacing: 3px;
  word-spacing: 3px;
  cursor: pointer;
  color: #646C54;

}

.butt button:hover {
  background-color: #646C54;
  color: white;
  border: 1px solid transparent;
  box-shadow: 2px 5px 10px #646C54;
  transition: 0.2s;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}