.catalog_page{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 496px) {
      flex-direction: column;
    }
  }
}
