.wrap {
  min-height: 500px;
}

.page {
  width: 95%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  color: #5d5d5d;
  font-weight: 300;
}

.pic_wrap {
  width: 100%;
  height: 50vh;
  margin: 0 auto;

  .pic {
    width: 100%;
    height: 100%;
    object-fit: contain;

  }
}

.content_wrap {
  width: 60%;
  margin: 30px auto 0;


  .content {
    font-weight: 300;

  }

}