.basket_wrapper {
  width: 50%;
  margin: 0 auto;
  min-height: 500px;
}

.total_count {
  margin-top: 50px;
  display: flex;
  justify-content: right;
  font-size: 24px;
}

.order_button {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.clear_button {
  display: flex;
  justify-content: left;
  margin-top: 20px;

  .clear_button_btn {
    padding: 7px 20px;
    background-color: #ffffff;
    color: #323232;
    border: 1px solid #323232;
    cursor: pointer;
    min-width: 120px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: 0.1s linear;
    text-transform: uppercase;
    word-spacing: 1px;
  }
  .clear_button_btn:hover {
    font-weight: 500;
  }
}

.order_button button {
  padding: 13px 20px;
  background-color: #323232;
  color: white;
  border: none;
  cursor: pointer;
}

.order_button button:hover {
  background-color: #464646;
}

.bas {
  width: 95%;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  color: #5d5d5d;
  font-weight: 300;
}

.bas_products {
  margin-top: 20px;
}