.category {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  border-top: none;
  padding: 0;

  @media (max-width: 786px) {
    width: 40%;
  }

  .category_list {
    padding-top: 10px;
    width: 100%;
    @media (max-width: 496px) {
      display: none;
    }
  }
}

.all_prod {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
  text-transform: uppercase;
  font-weight: 600;
  color: #3d3d3d;
  text-shadow: 1px 1px 2px #858585;
}

.all_active {
  margin: 10px 0;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #d3d3d3;
  text-transform: uppercase;
  font-weight: 500;
}