.header {
  background-color: #fff;
  padding: 10px 0;
  position: sticky;
  z-index: 30;
  //height: 50px;
  top: 0;
  .wrapper {
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left_side {
      display: flex;
      align-items: center;
      width: 70%;

      .header_title {
        font-size: 28px;
        font-weight: bold;
      }

      .header_category {
        display: flex;
        justify-content: space-between;
        width: 70%;
        @media (max-width: 786px) {
          display: none;
        }

        li {
          border-bottom: 1.5px solid white;
          padding: 0 10px;
          list-style: none;
          transition: 0.3s linear;

          .header_category_item {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 14px;
          }
        }

        li:hover {
          transition: 0.3s linear;
          border-bottom: 1.5px solid black;
        }

      }

    }

    .right_side {
      width: 5%;
      display: flex;
      justify-content: right;

      .basket {
        width: 25px;
        height: 25px;
        color: #3f3f3f;
        @media (max-width: 786px) {
          display: none;
        }
      }

      .basket:hover {
        color: black;
      }
    }
    .right_side_auth {
      width: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .basket {
        width: 25px;
        height: 25px;
        color: #3f3f3f;
        @media (max-width: 786px) {
          display: none;

        }
      }
      .basket:hover {
        color: black;
      }
    }
  }
}

.burger-wrap {
  @media (min-width: 786px) {
    display: none;
  }

  .burger {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
}

