.category_item{
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
    text-transform: uppercase;
    font-weight: 300;
}

.category_item:hover{
    color: #5d5d5d;
}

.active {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
    text-transform: uppercase;
    font-weight: 500;
}