.product {
  width: 300px;
  height: 500px;
  display: block;
  margin: 0 auto;

  .product_link {
    display: flex;
    flex-direction: column;
  }

  &_img_wrap {
    width: 100%;
    height: 450px;
    position: relative;

    .heart {
      padding: 8px;
      z-index: 2;
      position: absolute;
      top: 0;
      right: 1px;
      cursor: pointer;

      .her {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        //transform: scale(1);
        transition: .1s linear;
        color: #363636;
        transform: scale(1);
      }

      .her:hover {
        width: 20px;
        height: 20px;
        transition: .1s linear;
        transform: scale(1.1);
      }
    }

    &_img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &_info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3f3f3f;
    padding-top: 10px;
    text-transform: uppercase;

    .product_name {
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  //.button {
  //  padding: 6px 10px;
  //  background-color: #323232;
  //  color: white;
  //  border: none;
  //  cursor: pointer;
  //  width: 50px;
  //  font-weight: 300;
  //  margin-right: 10px;
  //  margin-top: 20px;
  //}

  .button_not {
    background-color: #9f1515;
  }

  .button:hover {
    background-color: #464646;
  }

  .button_not:hover {
    background-color: #d52121;
  }
}

.text {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;
}

.button_wrapper{
  display: flex;
  justify-content: center;
  .button {
    padding: 8px 15px;
    background-color: #323232;
    color: white;
    border: none;
    cursor: pointer;
    //width: 50px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 20px;
    letter-spacing: 1px;
  }

  .button_not {
    background-color: #d9d9d9;
    color: #000000;
  }

  .button:hover {
    background-color: #464646;
  }

  .button_not:hover {
    background-color: #e3e3e3;
  }
}

